html {
  font-family: sans-serif;
}
.box{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  background-color: red;
  color: white;
  border-radius: 12px;
  border: 1px solid rebeccapurple;
  text-shadow: 0 0 5px black;
  background: linear-gradient(
    130deg,
    transparent
  
    rgba(red, 0, 0, 0.2) 30%,

  
  );

  box-shadow: 3px 3px 9px  black,
  3px 3px 9px white inset;
}